# This file is for direnv: https://direnv.net
#
# If you have direnv configured for your shell, this file will add the node modules .bin folder to
# your $PATH.
#
# Importantly, this will let you run the uniform cli directly, without calling it via pnpm.

PATH_add node_modules/.bin

source_up_if_exists
source_env_if_exists .envrc.user
